In [1]:
!java -version

java version "17.0.1" 2021-10-19 LTS
Java(TM) SE Runtime Environment (build 17.0.1+12-LTS-39)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.1+12-LTS-39, mixed mode, sharing)

In [2]:
!pip install -q tabula-py

WARNING: Ignoring invalid distribution -oogle-auth (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oogle-auth (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oogle-auth (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oogle-auth (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oogle-auth (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oogle-auth (c:\users\hp\anaconda3\lib\site-packages)

In [3]:
import tabula

In [4]:
pdf_path = "D:\pdf document\APPLE.pdf"

 ### page no-37 page contain only table

In [7]:
dfs = tabula.read_pdf(pdf_path, pages=37, guess=True, stream=True, lattice= False ,relative_area= False ,multiple_tables=False,
                     pandas_options={"header": [0,1]},)
dfs[0]

,Unnamed: 0_level_0,"September 25,","September 26,","September 28,"
,Unnamed: 0_level_1,2021,2020,2019
0,Net sales:,NaN,NaN,NaN
1,Products,"$ 297,392","$ 220,747","$ 213,883"
2,Services,"68,425","53,768","46,291"
3,Total net sales,"365,817","274,515","260,174"
4,Cost of sales:,NaN,NaN,NaN
5,Products,"192,266","151,286","144,996"
6,Services,"20,715","18,273","16,786"
7,Total cost of sales,"212,981","169,559","161,782"
8,Gross margin,"152,836","104,956","98,392"
9,Operating expenses:,NaN,NaN,NaN
10,Research and development,"21,914","18,752","16,217"
11,"Selling, general and administrative","21,973","19,916","18,245"
12,Total operating expenses,"43,887","38,668","34,462"
13,Operating income,"108,949","66,288","63,930"
14,"Other income/(expense), net",258,803,"1,807"
15,Income before provision for income taxes,"109,207","67,091","65,737"
16,Provision for income taxes,"14,527","9,680","10,481"
17,Net income,"$ 94,680","$ 57,411","$ 55,256"
18,Earnings per share:,NaN,NaN,NaN
19,Basic,$ 5.67,$ 3.31,$ 2.99
20,Diluted,$ 5.61,$ 3.28,$ 2.97
21,Shares used in computing earnings per share:,NaN,NaN,NaN
22,Basic,"16,701,272","17,352,119","18,471,336"
23,Diluted,"16,864,919","17,528,214","18,595,651"

In [10]:
dfs[0].to_csv("D:\pdf document\page37.csv", index =False) # Download file to local decice in csv format

### Page no - 42 Page contains paragraph and table

In [57]:
dfs42 = tabula.read_pdf(pdf_path, pages=42, guess=False,stream=True, lattice= False ,relative_area= True, multiple_tables=False,
                      pandas_options={"header": [0]})
dfs42[0]

,"2/4/22, 1:28 PM Form 10-K filed by APPLE INC. on 2021-10-29",Unnamed: 1
0,Apple Inc.,NaN
1,Notes to Consolidated Financial Statements,NaN
2,Note 1 – Summary of Significant Accounting Pol...,NaN
3,Basis of Presentation and Preparation,NaN
4,The consolidated financial statements include ...,NaN
5,the “Company”). Intercompany accounts and tran...,NaN
6,consolidated financial statements reflect all ...,NaN
7,statement presentation. The preparation of the...,NaN
8,generally accepted accounting principles requi...,NaN
9,reported. Actual results could differ material...,NaN
10,statements and accompanying notes have been re...,NaN
11,The Company’s fiscal year is the 52- or 53-wee...,NaN
12,in the first fiscal quarter every five or six ...,NaN
13,"years 2021, 2020 and 2019 spanned 52 weeks eac...",NaN
14,periods refer to the Company’s fiscal years en...,NaN
15,years.,NaN
16,Recently Adopted Accounting Pronouncements,NaN
17,Financial Instruments – Credit Losses,NaN
18,"At the beginning of the first quarter of 2021,...",NaN
19,Accounting Standards Update (“ASU”) No. 2016-1...,NaN
20,Losses on Financial Instruments (“ASU 2016-13”...,NaN
21,instruments. The Company adopted ASU 2016-13 u...,NaN
22,13 did not have a material impact on the Compa...,NaN
23,Advertising Costs,NaN
24,Advertising costs are expensed as incurred and...,NaN
25,Share-Based Compensation,NaN
26,The Company generally measures share-based com...,NaN
27,"date of grant, and recognizes expense on a str...",NaN
28,information regarding share-based compensation...,NaN
29,Earnings Per Share,NaN
30,The following table shows the computation of b...,NaN
31,and shares in thousands):,NaN
32,2021,2020 2019
33,Numerator:,NaN
34,"Net income $ 94,680 $","57,411 $ 55,256"
35,Denominator:,NaN
36,"Weighted-average basic shares outstanding 16,7...","17,352,119 18,471,336"
37,"Effect of dilutive securities 163,647","176,095 124,315"
38,"Weighted-average diluted shares 16,864,919","17,528,214 18,595,651"
39,Basic earnings per share $ 5.67 $,3.31 $ 2.99
40,Diluted earnings per share $ 5.61 $,3.28 $ 2.97
41,Apple Inc. | 2021 Form 10-K | 34,NaN
42,https://app.quotemedia.com/data/downloadFiling...,42/90

 ### From Page no - 42 extracting only table

In [60]:
dfs42_1 = tabula.read_pdf(pdf_path, pages=42, guess=False, stream=True, lattice= False ,relative_area= True,area=(68,0,90, 90),
                       multiple_tables=False)
                      
dfs42_1[0]

,Unnamed: 0,Unnamed: 1,2021,Unnamed: 3,2020,Unnamed: 5,2019
0,Numerator:,NaN,NaN,NaN,NaN,NaN,NaN
1,Net income,$,"94,680",$,"57,411",$,5
2,Denominator:,NaN,NaN,NaN,NaN,NaN,NaN
3,Weighted-average basic shares outstanding,NaN,"16,701,272",NaN,"17,352,119",NaN,"18,47"
4,Effect of dilutive securities,NaN,"163,647",NaN,"176,095",NaN,12
5,Weighted-average diluted shares,NaN,"16,864,919",NaN,"17,528,214",NaN,"18,59"
6,Basic earnings per share,$,5.67,$,3.31,$,NaN
7,Diluted earnings per share,$,5.61,$,3.28,$,NaN

In [61]:
dfs42_1[0].to_csv("D:\pdf document\page42.csv", index =False)